

@media screen and (max-width: 991px) {
    .agile_banner .bnr_list_w3 {

        position: absolute;
    
        top: 450px;

    }
    
}

@media screen and (max-width: 768px) {
    /* #wrapper {
        margin: 20px auto;
        width: 100%;
    }

    .x-axis li {
        float: left;
        margin: 0 15px;
        padding: 5px 0;
        width: 12%;
    }
    .bar-group {
    float: left;
    height: 100%;
    margin: 0 15px;
    position: relative;
    width: 12%;
} */

}